<html>
<head><title>Lara Kattan CFSS Final Project</title></head>
<body>

<h2>Sources for data used in this project:</h2>
<ul>
	<li>National Assessment of Educational Progress (NAEP) is a federally administered exam given to students across the 50 states every few years (the cycles are different for each subject and grade leve). All data pulled as Excel files from the <a href="http://nces.ed.gov/nationsreportcard/naepdata/">NAEP Data Explorer</a>.</li> 
	<li>Median income per person in each state pulled from the 2013 Census Bureau's <a href="http://www.census.gov/hhes/www/income/data/statemedian/">American Community Survey 2013</a>.  
	</li>


</body>
</html>